*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    width: 100%;
    background: var(--lav);
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}